//COLORS 
$primary-color: #fff;
$secondary-color: #161859;
$tertiary-color:#D39E2A;
$primary-bg-color: #BFC1FD;
$color-black: #000;

//SHADOW
$shadow-primary: 0 1rem 1rem rgba($color-black, .1);
$shadow-secondary: 0 1.5rem 2rem rgba($color-black, .2);

// FONT 
$default-font-size: 1.6rem;

//BREAKPOINTS

$bp-largest: 1250px;
$bp-large: 1100px;
$bp-medium: 1000px;
$bp-small: 690px;
$bp-extra-small: 590px;
$bp-extra-extra-small: 490px;