@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:ital,wght@0,100;0,400;1,200;1,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset Page 1 Styles */
/* Custom Utility Class for Section */
@layer utilities{  
    .reset-card{
        width: 600px;
        height: 400px;
    }
    .reset-card2{
        width: 560px;
        height: 360px;
    }
    .logo-img{
        height:60px;
    }
    .logo-img2{
        height:70px;
    } 
}
body{
    @apply box-border overflow-x-hidden font-monteserrat text-black bg-clr-5 tracking-wide;
}
.wrapper{
    @apply w-full h-full my-0 mx-auto flex flex-col justify-around 
    lg:w-10/12 ;
}
.logo{
    @apply mt-8 self-center drop-shadow-lg 
    xsm:logo-img 
    3sm:logo-img2 3sm:self-start 3sm:w-24 3sm:ml-6 2xl:ml-28 
    4xl:w-2/4 ;
}
main{
    @apply flex flex-col justify-center m-6 
    3sm:mx-14 3sm:my-4 
    /* md:self-center  */
    md:mx-20 
    1md:mx-24 
    2md:mx-32 2md:my-0 2md:self-center 
    4md:my-0 4md:mx-0 ; 
}
h2{
    @apply self-start font-serif_display text-clr-2 drop-shadow-md font-semibold pb-2 tracking-wider xsm:text-lg 
    2sm:text-xl 
    lg:text-left 
    2xl:text-2xl 3xl:mb-4 
    4xl:my-4 4xl:text-5xl;
}
section{
    @apply bg-clr-3 rounded-lg p-4 pb-12 font-semibold drop-shadow-md tracking-wider 
    xsm:text-xs 
    sm:pb-20 
    2sm:text-sm 
    2md:reset-card2 
    3md:reset-card
    4md:pb-24  
    2xl:text-base 2xl:pb-24 2xl:w-full 
    4xl:text-xl 4xl:h-full;
}
form{
    @apply flex flex-col justify-start items-center;
}
p{
    @apply text-center pb-4 
    2sm:mx-2 
    2xl:pb-2 2xl:m-4;
}
.question{
    @apply mt-2 pb-0
    xsm:pt-4 
    3xl:mx-8;
}
.code-wrapper{
    @apply flex justify-center 2sm:pb-4;
}
.code-box{
    @apply inline-flex bg-clr-3 border-clr-2/40 border m-px outline-0 shadow-lg text-center 
    xsm:w-6 xsm:h-6 
    2sm:w-8 2sm:h-8 
    md:m-1 md:w-9 md:h-9;
}
.button{
    @apply self-center bg-clr-2 text-white uppercase drop-shadow-lg p-1 mt-5 tracking-widest 
    xsm:w-3/4 
    sm:w-3/5 
    2sm:p-2 
    md:w-3/5 
    2md:text-sm 
    2xl:text-lg;
}
.button-white{
    @apply  bg-white text-clr-2 font-semibold tracking-normal 
    3md:font-black;
}
.signup-link{
    @apply self-center border border-black/50 font-black mt-4 mx-2 p-1 text-center 
    xsm:text-xxs 
    sm:text-xs 
    2sm:p-2 2sm:px-8 2sm:text-sm 
    3sm:px-12 
    xl:py-2 
    2xl:text-lg;
}
span{
    @apply text-clr-2 font-extrabold 
    3md:font-black;
}