.slider-container {
    background-color: #BFC2F8;
    height: 50vh
}

.card {
    color: #000;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 60%;
    height: 90%;
    margin: 20px;
    border-radius: 10px;

}

.card-title {
    text-align: center;
    margin: auto;
}