@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:wght@200;400;600&display=swap');



*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* this defines what 1rem is equal to */
    font-size: 62.5%;
    /*1rem = 10px; 10/16 = 62.5% */

    box-sizing: border-box;

    @media only screen and (max-width:68.75em) {
        font-size: 50%;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #000;

}

h1 {
    font-size: 3.2rem;
    font-family: 'DM Serif Display', san-serif;

}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

li {
    font-size: 1.4rem;
    list-style: none;
}



.upNav {
    transform: translateY(-2px)
}

.search-nav-icon {
    display: flex;
}

.font-lighter {
    font-weight: 200;
}

.fileLabel {
    display: flex;
    justify-content: space-between;
}

.white-text {
    color: #fff;
    cursor: pointer;
}

.body-full {
    max-width: 100vw;
    height: 70vh;
    font-size: 3rem;
}