@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:wght@200;400;600&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #fff;
}
<<<<<<< HEAD

h1 {
    font-size: 32px;
}

.primary-color-yellow {
    background-color: #D39E2A;
=======
.font-monserrat 
{
    font-family: 'Montserrat', sans-serif;
}
.primary-color-yellow 
{
     background-color: #D39E2A;
>>>>>>> 3040cb1621d10baf93dce3914235ec34920010a8
}

.font-DM
{font-family: 'DM Serif Display','san-serif';}
.primary-color-yellow--text
{
    color:#D39E2A;
}
.primary-color-blue {
    color: #161859;
}
<<<<<<< HEAD

.material-icons.pt.pl {
    transform: translateY(5px);
    padding-left: 10px;
=======
.primary-color-blue__background{
    background-color: #161859;
>>>>>>> 3040cb1621d10baf93dce3914235ec34920010a8
}